<div class="row">
    <div class="col-xs-12">
        <app-shopping-edit></app-shopping-edit>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-11">
        <ul class="list-group">
            <a routerLinkActive="active" [routerLink]="['item',this.ingredients.indexOf(ingredient)+1,ingredient.name]" class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients">
            {{ingredient.name}} -> {{ingredient.amount}} Adet
            </a>
        </ul>
    </div>
    <div class="col-xs-1">
        <router-outlet></router-outlet>
    </div>
</div>